@import "tailwindcss";

@theme {
  --color-brand-orange: #f97316;
  --color-brand-orange-light: #ffedd5;
  --color-brand-orange-dark: #ea580c;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
